:root {
	--theme-bg-color: #EAEAFF;
	--theme-card-color: #FEFEFF;
	--theme-text-color: #000000;
	--theme-text-less-color: #AAAAAA;
	--theme-link-color: #0000FA;
	--theme-click-color: #FA0000;
	--theme-hover-color: #FE0000;
	--theme-active-link: #FE0000;
	--theme-grey-color: #888;
	--theme-thumb-ratio: 10 / 16 ; /* Customize card thumb ratio here  */
}

body {background: #F5F5F5;}
*::-webkit-scrollbar {width: 6px; background: #0001;}
*::-webkit-scrollbar-thumb{background: #0002;}
*{ margin: 0; font-family: roboto;letter-spacing: 0.8px; scrollbar-width: thin;scrollbar-width: 6px;}
@media screen and (max-width: 1080px) {
	*::-webkit-scrollbar {width: 3; }
*{ margin: 0; scrollbar-width: none;}
	
}
	.post-card { 
		max-width: 1000px; margin:  0 auto;
		display: grid; 
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		grid-gap: 20px;
	}
/* Smartphones (portrait and landscape) ----------- */
	/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.post-card{
			display: grid; 
			grid-template-columns: repeat(2, 1fr);
			grid: 20px;
		}
	}*/

.social-icon { display: inline-block; }
.social-icon ul {
	/*display:flex;*/
	padding-left: 0; margin: 0;
}
.social-icon img{width: 20px; height: 20px; opacity: .7;filter: grayscale(100%);}
.social-icon img:hover{ opacity: 1;cursor: pointer;}
.pn:hover{filter:hue-rotate(-2deg);}.ig:hover{filter: hue-rotate(-32deg);}
.fb:hover{filter:hue-rotate(-122deg);}.tw:hover{filter: hue-rotate(-163deg);}
.in:hover{filter:hue-rotate(-172deg);}.yt:hover{filter: brightness(75%);}
.icon-btn img{
	filter: brightness(10%);
	width: 16px; height: 16px;}


.show-nav-pos{ top: 0; }
.hide-nav-pos{ top: -100vh; }
/* Desktops and laptops ----------- */
	.musthead ul, .musthead a{ text-decoration: none; list-style: none;text-transform: uppercase;
		color: var(--theme-grey-color);}
	.musthead { 
		position: fixed;left: 0;right: 0; top: 0;
		border-bottom: 1px solid #eee;
		background: #fff;
		box-sizing: border-box;z-index: 111;
		
	}
	.logo, .logo img { width: 30px;border-radius: 100px;}
	/*.wraper{ display: flex; justify-content: ;}*/
	.icon-btn:hover{ cursor: pointer; }

/* Hide scrollbar with functional for small width-----------*/
	.scrollbar::-webkit-scrollbar{ display: none; }
	.scrollbar { -ms-overflow-style:none; scrollbar-width:none;}
	.musthead ul { padding-left: 0; }
	.musthead  a.active-link{ color: var(--theme-active-link); }


.wraper, .logo , .nav-link, .social-icon,  .nav-con, .social-icon ul{ display: flex; align-items: center;
max-width: 100%;justify-content: center; padding: 0;} 


/* Header Element Order ------------show-nav-con

/* style for mobilr size screen --------------------*/
	@media only screen and (min-width : 710px) and (max-width: 9860px) {
		.musthead{overflow: hidden}
		.wraper { margin: 0 auto;}
		/*.musthead ,  .musthead  .wraper  ul{display: flex; align-items: center;}*/
		
		.logo { padding: 0 20px; }
		.nav-link a { padding: 0 5px; }
		.nav-link {min-width: 660px;}
		.social-icon a { margin: 0 .1em; }
		.desk-search { margin-left: 1em; }
		/*.nav-con, .nav-con ul{ display: flex;}*/
		.phone-search, #menu, #close{ display: none; }
		.desk-search{ display: inline-block; }
		 /*ul{ height: 100%; }*/
		 .social-icon ul { margin-right: 25px; }
		.search-tab input{
			width: 200px;
		}
		.wraper{ height: 40px; }


	}
	@media only screen and (min-width : 710px) and (max-width: 860px) {
		.logo {  }
		.social-icon{ display: none; }
		.nav-link a { padding: 0 5px; }
		./*nav-link li{ font-size: 1em; }*/
	}
	@media only screen and (min-width : 50px) and (max-width: 710px) {
		/*.nav-link li { font-size: 100%; padding: 1.4em 1em;}*/
		.wraper{ display: flex; justify-content: space-between;padding: 0 10px;}
		.hide { display: none; }
		.show { display: inline-block; }
		.overflow { overflow: hidden; }
		.hide-nav-con, .show-nav-con {
			position: absolute;
			top: 0; left: 0; right: 0;
			text-align: center;background: #fff;
		}
		.hide-nav-con{
			transition: .5s;
			height: 0;
			overflow: hidden;
		}
		.show-nav-con{
			box-sizing: border-box;		
			overflow: auto;
			transition: .5s;
			height: 100vh;
			padding: 0px 0 50px;
		}
		.nav-link  {
			margin-bottom: 2em;
		}.nav-link li a{
			display: block;
			padding: 20px;
		}.social-icon li { margin:.5em .2em; }
		.social-icon { margin-bottom: 10px; }
		.wraper{ height: 40px; }
		.logo, .icon-btn, .sub { display: flex; align-items: center; }
		.desk-search { display: none; }
		.sub{ margin: 0 auto;margin-bottom: 30px }
		.icon-btn #close { padding: .7em; }
	
		.nav-con, .logo , .nav-link, .social-icon{display: block}  
		.social-icon ul{ display: flex;} 
		

	}

.sub:hover{ background: var(--theme-click-color); color: #fff; cursor: pointer;}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.wraper { height:  60px; }
		.nav-link li { font-size: 100%;}
		.social-icon img {
			    width: 30px;
			    height: 30px;
		}
}

/*Post page */
	.post-page {
		 justify-content:  center; 
		 max-width:  800px;
		 margin:  0 auto; box-sizing:  border-box;
		padding:  10px;
	}
	.post-sec-title {
		font-size: 18px;
		padding: 20px 0px;
		/*background: #fff;*/
	}
	.post-head, .cate-label .links {
		display:  flex;
		justify-content:  space-between;
	}
	.post-search form {
		display: flex;
	    align-items: center;
	    width: max-content;
	}
	.post-search input{
			border-style: none; border-bottom: 1px solid #e00; 
			background: none;
			color: none;
			padding-bottom: .2em;
		}
		.post-search input:focus {
		    outline: none;
		}
		.post-search img { width:  15px; height: 15px; }
	.post-search   {
		display: flex;
		align-items:  center;
	}
	.post-search form button {
		background:  none;
		border: none;
	}

/* Post cards style -------------------------------------------------*/
	.post-card { background:;  padding: 10px 0;}
	.post-card .card{
		position: relative;
		width: 100%;
		color: var(--theme-grey-color);
		overflow: hidden;
		background: #FFF;
		box-shadow: 0 0 12px -8px #0006;		
		box-sizing: border-box;
		border-radius: 3px;
	}
	.card > a { position: absolute;right: 0;left: 0;bottom: 0;top: 0;z-index: 5; }
	.post-card .card:hover {
		/*transition: .3s ease;
		box-shadow: 0px 0px 8px #55555555; 
		position: ; left: -1%;  top:  -1%;
		width: 101%; height: 101%;
		border-radius: 5px;*/
	}
	.post-card .content {
		box-sizing: border-box;
		padding: 10px;
	}
	.post-card .content .about {
		box-sizing: border-box;
	}
	
/*	.post-card .card .thumb img{
		width: 101%;
		height: 150px;
		object-fit: cover;
		object-position: center; 
	}*/
	.post-card .card .info{
		display: flex;
		font-size: 11px;
		justify-content: space-between;
	}
	.post-card .title {
		font-size: 14px;
		line-height: 20px; 
		font-weight: 500;
		color: var(--theme-text-color);
	}
	.post-card .desc {
		margin: 15px auto;
		font-size: 12px;
	}
	.post-card .content .title, .post-card .content .desc{
		overflow:hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical; 
		-webkit-line-clamp: 4;
	}
	.post-card .content .desc {
		-webkit-line-clamp: 3;
		line-height: 18px;
	}
	.card a { text-decoration: none; }
	.card .info a { color: var(--theme-text-click-color); }


	.thumb {height: 0;width: 100%; padding-top: calc(100% * (var(--theme-thumb-ratio)));position: relative;}
	.thumb img {width:100%;height: 100%; object-fit:  cover;position: absolute; top: 0;object-position: top;}
/*.card .title:hover { color: var(--theme-click-color); }*/
/* End  Post cards style -------------------------------------------------*/

/* Pagination style -------------------------------------------------------------*/
	.pagination ul  { display:  flex; justify-content: center; list-style: none; margin:  20px;  } 
	.pagination a {text-decoration: none; }
	.pagination a {
		padding: 6px;
		border:  solid .12em #ddd;
		color:  #000;
		margin:  5px;
		border-radius: 4px;
	}
	.pagination a:hover, .pagination  .active a {
		padding: 6px;
		border:  none;
		color:  #FFF;
		margin:  5px;
		border-radius: 4px;
		background: red;
		border:  solid .12em red;
	}
/* Pagination style -------------------------------------------------------------*/

/* Category ----------------------------------------------------------------*/
	.cate-label {
	 padding:  10px 0;
	 }
	 .cate-label ul {
	 	margin-left: -40px
	 }
	.cate-label ul li {
		display:  inline-block;
        
	}
	.cate-label ul li a{
		padding:  3px 10px;
	}
	.cate-label > ul li,  a { text-decoration: none; list-style: none; color:  black;}
	.cate-label .active  a {  color:  red; border-bottom:  1px solid red;}
	.cate-label a:hover {  color:  red; }
	.cate-title { display: none; }
	.select-cate{ display: none; }

	@media only screen and (min-width : 10px) and (max-width: 600px) {
		/*.post-sec-title { font-size: 1.5em;}*/
		.select-cate,
		.cate-title { display:  inline-block; }
		/*.cate-label { display:  none;}*/
		.post-search input { display:  none; }
		.select-cate select { 
				border:  none;
				padding: 5px 10px;
				color:  red;
				background: none;
		 }
		.select-cate select:focus { 
		border: none;}
		.select-cate select:focus {
				outline: -webkit-focus-ring-color auto 1px;
				outline: none;
		}
	}
/* Category ----------------------------------------------------------------*/
/* Search tab style -------------------------------------------*/
	.hide-pos { 
		transition: .3s; 
		height: 40px;
		position: fixed; top: -50px; left: 0;right: 0;
		z-index: 10;
	}
	.show-pos { 
		position: fixed; top: 0px; left: 0;right: 0;  
	
		z-index: 10;	
	}

	.search-tab form { 
		display: flex;
		width: max-content;
		align-items: center;
		margin: 0 auto;
		background: #eee;
		/*padding: 3px;*/
	}
	.search-tab img{ width: 14px; height: 14px; padding: 8px;}
	.search-tab button { background:none; border-style: none; padding: 0;}
	.search-tab input{
		width: calc(100vw - 100px);
		max-width: 480px; 
		border-style: none; 
		background: none;
	}
	.search-tab input:focus {
	    /*outline: -webkit-focus-ring-color auto 1px;*/
	    outline: none;
	}
	.search-tab > img, input{ display: flex; align-items: center; font-size: ; }
	.search-tab, .search-tab > form{ display: flex; align-items: center; }
	.search-tab { 
		background: #fff;
		transition: .5s;
		height: 50px;	
		z-index: 120;
	}

	::-webkit-input-placeholder{
		color: #888;
		font-size: .9em;
		font-weight: 400;
	}
	::-moz-placeholder{
		color: #888;
		font-size: .9em;
		font-weight: 400;
	}



	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.post-card .card{
			width: 100%;

			overflow: hidden;
			background: #FFF;
			border: 1px solid #e9e9e9;
			box-sizing: border-box;
			border-radius: 3px;
		}
		.post-card .card .thumb{
			width: 100%;
			/*height: 130px;*/
			overflow: hidden;
		}
		.post-card .content .about {
			box-sizing: border-box;
			/*height: 150px;*/
			/*border: 1px solid #AAA;*/
		}
		.post-page { padding: 5px; }
		.post-card .card .desc { display: none; }
		.post-card .content .title {
				overflow:hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical; 
				-webkit-line-clamp: 4;
			}
			/*.post-card .title {
				font-size: 18px;
				line-height: 22px; 
				font-weight: 500;
			}*/

	}
	.nav-link a:hover{
	    background: #eee;
	}
	.nav-link a{
	    padding: 20px;
	    margin: 2px;
	    border-radius: 2px;
	    font-size: 11px;
	}


	.show-nav-pos{ top: 0; position: fixed;}
	.hide-nav-pos{ top: -100vh; position: fixed;}